@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);


.statement_page {
    margin-top: 40px;
    margin-bottom: 100px;
    color: #263238;
}

.statement_header {
    max-width: 370px;
    margin-left: auto;
    margin-bottom: 50px;

    .form_item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        height: auto;

        input {
            padding: 10px 15px;
            max-width: 320px;
        }
    }
}

.director {
    font-weight: 500;
    @include adaptiv-value("font-size", 18, 14);
    margin-bottom: 10px;
}

.statement_title {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 55px;

    @include adaptiv-value("font-size", 16, 14);
}

.form_item {
    position: relative;
    padding-bottom: 10px;
}

.form_row {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;

    label {
        display: block;
        @include adaptiv-value("font-size", 16, 14);
        @include adaptiv-value(" margin-bottom", 20, 15);
    }
}

.input_wrapper {
    position: relative;

    input {
        padding: 10px 15px;
        margin-bottom: 20px;
    }
}

.form_row_description {
    text-align: center;
    @include adaptiv-value("font-size", 16, 12);
}

.error {
    position: absolute;
    left: 0;
    bottom: 5px;
    color: red;
    font-size: 12px;
}

.label_wrapper {
    background-color: #eaf0f3;
    border-radius: 10px;
    padding: 18px;
}

.file_label {
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 20px;
    border: 1px dashed #9aadbb;
    margin-bottom: 0 !important;
    height: 100%;

    input {
        display: none;
    }
}

.file_item {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #1b4965;
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove_button {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.file_list {

    li {
        margin-bottom: 10px;
    }
}

.documents h2 {
    margin-bottom: 20px;
}

.documents_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;

    @media (max-width: 560px) {
        grid-template-columns: 1fr;
    }
}