@use '@/app/mixins' as *;


.breadcrumbs {

    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    // text-transform: uppercase;
    color: var(--black);
    padding-bottom: 30px;
    @include adaptiv-value("font-size", 16, 13);

    @media screen and (max-width: 760px) {
        padding-top: 15px;
        padding-bottom: 20px;
    }


    ul {
        list-style: none;
        display: flex;
        gap: 10px;

        li {

            &::after {
                content: "/";
                margin-left: 10px;
            }

            &:last-child::after {
                content: "";
            }

            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.04em;
                // text-transform: uppercase;
                color: var(--light-blue);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .active {
            color: var(--blue);
        }
    }

    @media (max-width: 480px) {
        margin-top: 0;
    }
}