@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.footer {
    
}

.footer_info {
    
}

.document {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;

    a {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}