@use '@/app/mixins' as *;


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 30px 0;
    background-color: var(--light-gray);
    border-radius: 10px;

    a {
        color: var(--black);
        font-weight: 500;
        @include adaptiv-value("font-size", 16, 13);

        transition: all .3s ease-in-out;

        &:hover {
            color: var(--main-color);
        }

        &:active {
            color: var(--main-color);
        }
    }
}

.header_top {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    margin-top: 30px;
}

.logo_sub_title {
    font-weight: 400;
}

.logo_title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color);
    @include adaptiv-value("font-size", 17, 13);

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.wrapper_contact_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    div {
        display: flex;
        flex-direction: column;
        
        gap: 10px;
    }

    a {
        font-weight: 700;
        color: var(--main-color);
        @include adaptiv-value("font-size", 15, 13);

    }

    p {
        @include adaptiv-value("font-size", 14, 13);
    }
}

.active {
    color: var(--blue);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    svg {
        stroke: white;
    }
}