@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 29px;
    padding: 60px 0 150px;
}

.title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    @include adaptiv-value("font-size", 400, 250);
    text-transform: uppercase;
    color: #007cc2;

    @media (max-width: 560px) {
        font-size: 160px;
    }
}

.text {
    font-size: 24px;
    max-width: 800px;
    text-align: center;
}

.link {
    text-decoration: underline;
}