@use '@/app/mixins' as *;
// @include adaptiv-value("font-size", 24, 13);

.document {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: var(--black);
    padding: 30px 15px;
    @include adaptiv-value("font-size", 16, 12);
    font-weight: 600;
    background-color: var(--light-gray);
    border-radius: 20px;

    transition: all 0.3s ease-in-out;

    svg path {
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        background-color: var(--main-color);
        color: var(--white);

        svg path {
            fill: var(--white);
        }
    }

    &:active {
        background-color: var(--light-gray);
        color: var(--black);
    }

    @media screen and (max-width: 760px) {
        padding: 20px 10px;
    }
}