@use '@/app/mixins' as *;

.title {
    @include adaptiv-value("font-size", 46, 22);
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin: 40px 0;
}

.item,
.item_link a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    cursor: pointer;
    padding: 30px;
    box-shadow: 4px 4px 20px 0 rgba(34, 99, 131, 0.2);
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    @include adaptiv-value("font-size", 20, 16);
    line-height: 1.2;
    transition: all 0.3s ease-in-out;
    position: relative; // Для плавных переходов

    @media (max-width: 560px) {
        padding: 16px 20px;
    }

    svg {
        transition: transform 0.3s ease-in-out, fill 0.2s linear;
        align-self: flex-end;
        fill: #1B4965;
    }
}

.item_active {
    background-color: var(--main-color);
    color: #ffffff;

    svg {
        fill: #ffffff;
        transform: rotate(90deg); // Добавляем вращение для активного состояния
    }
}

.item_link a:hover {
    background-color: var(--main-color);
    color: #ffffff;

    svg {
        fill: #ffffff;
        transform: rotate(-45deg); // Добавляем вращение для активного состояния
    }
}

.item:hover {
    background-color: var(--main-color);
    color: #ffffff;

    svg {
        fill: #ffffff;
        transform: rotate(-45deg); // Добавляем вращение для активного состояния
    }
}


// Контейнеры для контента табов
.tab-content {
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;

    &[data-active="true"] {
        opacity: 1;
        height: auto;
        visibility: visible;
    }

    &[data-active="false"] {
        opacity: 0;
        height: 0;
        visibility: hidden;
        position: absolute; // Убираем из потока документа
    }
}